<h1><%= @category %></h1>

<% @parts.each do |part| %>
  <a href="/parts/<%= part.id %>">
    <img src="<%= part.images.first.url%>" alt="">
  </a>
  <h4>Name: <a href="/parts/<%= part.id %>"> <%= part.name %></a></h4>
  <hr>
<% end %>