<h1><%= @part.name %></h1>
<h2>$<%= @part.lowest_price %></h2>

<%= form_tag "/purchases", method: :post do %>
  <input type="hidden" name="price" value="<%= @part.lowest_price %>">
  <input type="hidden" name="part_id" value="<%= @part.id %>">
  <input type="hidden" name="name" value="<%= @part.name %>">
  <input type="submit" value="Add to Cart">
<% end %>

